<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /   # Set the base URL (change this if your app is in a subdirectory)

  # Handle requests for files and directories that exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all other requests to the index.html file
  RewriteRule . /index.html [L]
</IfModule>